@font-face {
    font-family: 'Bauhaus';
    src: url('/fonts/Bauhaus-Regular.woff2') format('woff2'),
        url('/fonts/Bauhaus-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus';
    src: url('/fonts/Bauhaus-Black.woff2') format('woff2'),
        url('/fonts/Bauhaus-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

